@font-face {
  font-family: "Empires";
  src: url("/assets/fonts/Empires.otf");
}

@font-face {
  font-family: "Gloomy";
  src: url("/assets/fonts/Gloomy Things.otf");
  src: url("/assets/fonts/Gloomy Things.ttf");
}

@font-face {
  font-family: "AnalogScript";
  src: url("/assets/fonts/AnalogScript.otf");
}

@font-face {
  font-family: "AnalogScriptClean";
  src: url("/assets/fonts/AnalogScriptClean.otf");
}

@font-face {
  font-family: "GillSans";
  src: url("/assets/fonts/GillSans/GillSans-CondensedBold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GillSans";
  src: url("/assets/fonts/GillSans/GillSans-Italic.ttf");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GillSans";
  src: url("/assets/fonts/GillSans/GillSans-HeavyItalic.ttf");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GillSans";
  src: url("/assets/fonts/GillSans/GillSans-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GillSans";
  src: url("/assets/fonts/GillSans/GillSans-Heavy.ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GillSans";
  src: url("/assets/fonts/GillSans/GillSans.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GillSans";
  src: url("/assets/fonts/GillSans/GillSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GillSans";
  src: url("/assets/fonts/GillSans/GillSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GillSans";
  src: url("/assets/fonts/GillSans/GillSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GillSans";
  src: url("/assets/fonts/GillSans/GillSans-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GillSans";
  src: url("/assets/fonts/GillSans/GillSans-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
