@import '../../../styles.scss';

.pagination-wrapper {
  position: fixed;
  bottom: 0;
  background: $gray;
  width: 100%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $pagination-height;

  .button{
    font-family: "Empires";
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25rem;
    border-radius: 50%;
    font-size: 1.8rem;
    color: white;
    background: transparent !important;
    border: none !important;

    &:disabled{
        color: $light-gray;
        pointer-events: none;
    }

    &:hover{
        color: $primary;
    }
  }
}
